// Buttons
.button-primary {
	.button-primary-wrap {
		.button-primary-text {
			color: #855b35;
		}
	}

	background-color: #ffc800;

	&:hover {
		background-color: #ffdc5c;
	}
}

.button-secondary {
	.button-secondary-wrap {
		.button-secondary-text {
			color: v.$brand-light-blue;
			transition: all 0.3s ease;
		}
	}

	background-color: transparent;
	border: 1px solid v.$brand-light-blue;

	&:hover {
		background-color: v.$brand-light-blue;

		.button-secondary-text {
			color: v.$brand-white;
		}
	}

	// Quando adicionar a classe white
	&.white {
		background-color: transparent;
		border: 1px solid v.$brand-white;
		.button-secondary-text {
			color: v.$brand-white;
		}

		&:hover {
			background-color: v.$brand-white;
			.button-secondary-text {
				color: #01c7df;
			}
		}
	}
}

.button-primary,
.button-secondary {
	display: inline-block;
	padding: 16px 24px;
	border-radius: 122px;
	transition: all 0.3s ease;
}

.button-primary-wrap,
.button-secondary-wrap {
	@include m.flex(row, center, center, 8px);
}

.button-primary-text,
.button-secondary-text {
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 100%;
}
