@use 'variables' as v;
@use 'mixins' as m;

// Card depoimento
.card-depoimento {
	width: 100%;
	max-width: 384px;
	padding: 37px 32px;
	background-color: rgba(241, 240, 245, 0.55);
	border-radius: 8px;
	@include m.flex(column, flex-start, flex-start, 21px);

	.user {
		@include m.flex(row, center, space-between, 8px);
		width: 100%;
		strong {
			font-family: 'Poppins', sans-serif;
			font-size: 1.8rem;
			font-weight: 600;
			line-height: 112%;
			letter-spacing: -1px;
			color: v.$gray-500;
		}
	}

	p {
		@include m.paragrafo18;
	}
}
