@use 'variables' as v;
@use 'mixins' as m;

html {
	@include m.resolucao(1300px) {
		font-size: 58%;
	}

	@include m.resolucao(991px) {
		font-size: 62.5%;
	}
}

header {
	@include m.resolucao(1090px) {
		.container {
			nav {
				// display: none;
				gap: 32px;
				ul {
					gap: 32px;
				}
			}
		}
	}

	@include m.resolucao(994px) {
		.container {
			.logo {
				max-width: 108px;
			}

			nav {
				gap: 40px;

				ul {
					gap: 24px;
				}
			}
		}
	}

	@include m.resolucao(940px) {
		.container {
			nav {
				ul {
					display: none;
				}
				.btn-mobile {
					display: block;
				}
			}
		}
	}

	@include m.resolucao(480px) {
		height: 73px;
		.container {
			nav {
				.button-secondary {
					display: none;
				}
			}
		}
	}
}

.s-hero {
	@include m.resolucao(1440px) {
		padding-top: 13.2rem;
	}

	@include m.resolucao(1280px) {
		padding-top: 15.2rem;
	}

	@include m.resolucao(1090px) {
		height: 65.6rem;
	}

	@include m.resolucao(991px) {
		height: 89.1rem;
		background-size: cover;
		padding-top: 15rem;
	}

	@include m.resolucao(768px) {
		height: 82rem;
	}

	@include m.resolucao(600px) {		
		padding-top: 124px;
		height: 739px;		

		.s-hero-images {
			h2 {
				display: none;
			}			
		}
	}

	.container {
		@include m.resolucao(994px) {
			flex-direction: column;
			align-items: center;
			gap: 50px;
		}

		.s-hero-text {
			@include m.resolucao(1090px) {
				max-width: 100%;
				justify-content: start;
				align-items: start;
			}

			@include m.resolucao(994px) {
				max-width: 685px;
			}

			@include m.resolucao(768px) {
				text-align: center;
				align-items: center;
				gap: 24px;
			}

			@include m.resolucao(600px) {
				max-width: 32.1rem;
			}

			.subtitle {
				@include m.resolucao(1090px) {
					font-size: 1.6rem;
					line-height: 120%;
				}
			}

			h1 {
				@include m.resolucao(1090px) {
					font-size: 5.2rem;
				}

				@include m.resolucao(994px) {
					font-size: 4.8rem;
					line-height: 112%;
				}

				@include m.resolucao(480px) {
					font-size: 3.2rem;
				}
			}

			ul {
				@include m.resolucao(1090px) {
					margin-top: 0;
					gap: 8px;
				}

				@include m.resolucao(590px) {
					flex-flow: column wrap;
					justify-content: flex-start;
					align-items: flex-start;
					max-width: 250px;
					gap: 16px;
				}

				li {
					.text {
						@include m.resolucao(1090px) {
							font-size: 1.6rem;
						}
						@include m.resolucao(994px) {
							text-align: left;
						}
					}
					
					@include m.resolucao(767px) {
						.icon {
							width: 20px;
							height: auto;
							background-color: transparent;
						}
					}
				}
			}
		}

		.s-hero-images {
			@include m.resolucao(994px) {
				width: 100%;
				margin: 0 auto;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 40px;
			}

			h2 {
				@include m.resolucao(994px) {
					font-size: 3.6rem;
				}
			}
		}

		.image {
			@include m.resolucao(1090px) {
				top: -7.1rem;
			}

			@include m.resolucao(994px) {
				max-width: 51.1rem;
				height: 42.4rem;
				margin: 0 auto;
			}

			@include m.resolucao(768px) {
				max-width: 305px;	
				height: 248px;	
				top: 0;		
			}

			.circle {
				@include m.resolucao(1090px) {
					max-width: 48.3rem;
				}

				@include m.resolucao(1050px) {
					max-width: 45.3rem;
				}

				@include m.resolucao(994px) {
					max-width: 42.9rem;
					top: 0;
				}

				@include m.resolucao(768px) {
					max-width: 100%;
					top: 0;
					right: 0;
				}
			}

			.card-front {
				@include m.resolucao(994px) {
					max-width: 34rem;
					left: 0;
					top: 0;
				}

				@include m.resolucao(768px) {
					max-width: 211px;	
					top: 29px;				
				}
			}

			.card-back {
				@include m.resolucao(1440px) {
					max-width: 43.5rem;
					bottom: -31px;
				}

				@include m.resolucao(1090px) {
					max-width: 38.5rem;
					bottom: 12px;
				}

				@include m.resolucao(994px) {
					max-width: 27.4rem;
					right: 29px;
					bottom: 76px;
				}

				@include m.resolucao(768px) {
					bottom: 48px;
					max-width: 190px;
					bottom: -24px;
					right: -6px;
				}
			}
		}
	}
}

.s-card-neon {
	@include m.resolucao(600px){
		padding-top: 86px;

		.container {
			.right-area {
				padding-inline: 0;

				.cards {
					margin-top: 0;	
					padding-inline: 0;				

					h2 {
						font-size: 3rem;
					}

					.cards-area {
						margin-top: 16px;

						.card-area {
							gap: 1.6rem;

							.card-area--textos {
								gap: 16px;

								h3 {
									font-size: 1.8rem;
									line-height: 120%;
								}

								p {
									font-size: 1.4rem;
								}
							}
						}
					}

					
				}

				.neon-pejota {
					max-width: 100%;
					height: 470px;
					background-size: cover;
					flex-direction: column;
					justify-content: start;
					align-items: center;
					position: relative;
					padding: 43px 0;
					gap: 0;

					.neon-pejota--elementos {
						.neon-pejota-elementos--textos {
							text-align: center;
							justify-content: center;
							align-items: center;

							h2 {
								font-size: 3.2rem;
							}

							h3 {
								font-size: 2.4rem;
							}
						}

						.neon-pejota-elementos--cta {
							justify-content: center;
							align-items: center;
							width: 100%;
						}
					}
					// Card
					.neon-pejota-elementos--card {					
						max-width: 100%;
						left: 50%;					
						transform: translateX(-50%);	
						margin-top: 120px;			

						img {
							max-width: 100%;
						}
					}
				}
			}

			.left-area {
				padding: 64px 0 0;
				gap: 40px;
				flex-direction: column-reverse;
			}
		}
	}
}

.s-depoimentos {
	@include m.resolucao(600px) {
		.container {
			padding-right: 0;
			gap: 64px;

			.slide-depoimentos {
				padding: 0 16px 0 0;
			}			
		}
		.top {
			h2 {
				font-size: 3.2rem;
			}
		}
	}
}

.s-conta-digital {
	@include m.resolucao(600px) {
		.container {
			.text {
				h2 {font-size: 2.8rem;}

				ul {
					li {
						gap: 16px;

						.info {
							h3 {
								text-align: left; 
								font-size: 1.8rem;
								line-height: 120%;
							}
							p {
								text-align: left;
								font-size: 1.4rem;
							}
						}
					}
				}
			}

			.image {
				img:nth-child(1) {
					left: 0;
				}

				img:nth-child(2) {
					left: 40%;
				}
			}
		}		
		
		
	}
}

// Footer
.footer {
	@include m.resolucao(600){
		.container {
			.footer__top {
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 16px;
				padding: 32px 0;

				.footer--redes-sociais {
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 16px;
				}
			}

			.footer__meio {
				gap: 32px;
				align-items: start;

				.footer__menu--item {
					flex: 0 0 50%
				}

				.footer__cards {
					position: relative;
					bottom: 0;
					width: 100%;		
					
					a {
						width: 100%;

						.footer__cards--card {
							justify-content: center;
							width: inherit;
						}
					}
				}
			}
		}
	}
}
