html {
	@include resolucao(1300px) {
		font-size: 58%;
	}

	@include resolucao(991px) {
		font-size: 62.5%;		
	}
}

header {
	@include resolucao(1090px) {
		.container {
			nav {
				// display: none;
				gap: 32px;
				ul {
					gap: 32px;
				}
			}
		}
	}

	@include resolucao(994px) {
		.container {
			.logo {
				max-width: 108px;
			}

			nav {
				gap: 40px;

				ul {
					gap: 24px;
				}
			}
		}
	}

	@include resolucao(940px) {
		.container {
			nav {
				ul {
					display: none;
				}
				.btn-mobile {
					display: block;
				}
			}
		}
	}

	@include resolucao(480px) {
		height: 73px;
		.container {
			nav {
				.button-secondary {
					display: none;
				}
			}
		}
	}
}

.s-hero {
	@include resolucao(1440px) {
		padding-top: 13.2rem;
	}

	@include resolucao(1280px) {
		padding-top: 15.2rem;		
	}

	@include resolucao(1090px) {
		height: 65.6rem;		
	}

	@include resolucao(991px) {
		height: 89.1rem;
		background-size: cover;			
	}

	.container {
		@include resolucao(994px) {
			flex-direction: column;
			align-items: center;
			gap: 50px;
		}

		.s-hero-text {
			@include resolucao(1090px) {
				max-width: 100%;
				text-align: center;
				justify-content: center;
				align-items: center;
			}

			@include resolucao(994px) {				
				max-width: 685px;				
			}

			.subtitle {
				@include resolucao(1090px) {
					font-size: 1.8rem;
				}
			}

			h1 {
				@include resolucao(1090px) {
					font-size: 5.6rem;
				}

				@include resolucao(994px) {
					font-size: 4.8rem;
				}
			}	
			
			ul {
				@include resolucao(1090px) {
					margin-top: 2.4rem;
				}

				li {
					.text {
						@include resolucao(994px) {
							text-align: left;
						}
					}
				}
			}

		}

		.s-hero-images {
			@include resolucao(994px) {
				width: 100%;
				margin: 0 auto;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 40px;
			}

			h2 {
				@include resolucao(994px) {
					font-size: 3.6rem;
				}
			}
		}

		.image {
			@include resolucao(1090px) {
				top: -7.1rem;
			}

			@include resolucao(994px) {
				max-width: 51.1rem;
				height: 42.4rem;
				margin: 0 auto;
			}

			.circle {
				@include resolucao(1090px) {
					right: 83px;
					max-width: 48.3rem;
				}

				@include resolucao(1050px) {					
					max-width: 45.3rem;
				}

				@include resolucao(994px) {
					max-width: 42.9rem;
					top: 0;
					right: 13px;
				}
			}

			.card-front {
				@include resolucao(994px) {
					max-width: 34rem;
					left: 0;
					top: 0;
				}
			}

			.card-back {
				@include resolucao(1440px) {
					max-width: 43.5rem;
					bottom: -31px;
				}

				@include resolucao(1090px) {
					max-width: 38.5rem;
					bottom: 12px;
				}

				@include resolucao(994px) {
					max-width: 27.4rem;
					right: 29px;
        			bottom: 76px;
				}
			}
		}
	}
}
