@use 'variables' as v;
@use 'mixins' as m;

.s-card-neon {
	padding-top: 12.9rem;

	.container {
		@include m.flex(row, flex-start, flex-start, 139px);
		@include m.resolucao(768px) {
			@include m.flex(column-reverse, center, center, 0px);
			gap: 80px;
		}
	}

	.left-area {
		max-width: 27.7rem;
		@include m.resolucao(768px) {
			max-width: 100%;
			@include m.flex(row, center, space-between, 0px);
			@include m.resolucao(768px) {
				width: 100%;
				padding: 0 48px;
			}
		}

		.ilustra-mockup {
			width: 100%;
			max-width: 277px;
			position: relative;
			margin-bottom: 25px;

			.circle {
				position: absolute;
				z-index: -1;
				top: 87px;
				left: -214px;
				max-width: 377px;
			}

			.mockup {
				max-width: 377px;
			}
		}

		.text {
			.icon {
				@include m.flex(column, center, center, 21px);
				margin-bottom: 31px;
			}

			.info-txt {
				width: 100%;
				max-width: 270px;
				@include m.flex(column, center, center, 4px);
				text-align: center;
				margin-bottom: 25px;

				h3 {
					font-size: 2.4rem;
					font-weight: 500;
					line-height: 150%;
					letter-spacing: -0.05rem;
					color: v.$gray-600;
				}

				p {
					color: v.$gray-400;
					opacity: 0.8;
				}
			}

			.botoes-app-download {
				@include m.flex(column, center, center, 13px);
			}
		}
	}

	.right-area {
		width: 100%;
		@include m.flex(column, flex-start, flex-start, 144px);
		@include m.resolucao(768px) {
			align-items: center;
			justify-content: center;
			padding: 0 24px;
			gap: 40px;
		}

		.cards {
			width: 100%;
			@include m.flex(column, flex-start, flex-start, 16px);
			@include m.resolucao(768px) {
				margin-top: 32px;
			}

			h2 {
				width: 100%;
				max-width: 488px;
				color: v.$gray-600;
				font-size: 4rem;
				font-weight: 700;
				line-height: 112%; /* 4.48rem */
				letter-spacing: -0.1rem;
				@include m.resolucao(768px) {
					text-align: center;
					max-width: 424px;
					margin: 0 auto;
				}
			}

			.cards-area {
				width: 100%;
				@include m.flex(column, flex-start, flex-start, 0px);

				.card-area {
					width: 100%;
					height: 12.8rem;
					@include m.flex(row, center, space-between, 8px);
					border-bottom: 1px solid #e1e0e7;

					.card-area--textos {
						@include m.flex(row, center, flex-start, 43px);

						h3 {
							color: v.$gray-400;
							font-size: 2.4rem;
							font-weight: 600;
							line-height: 150%; /* 3.6rem */
							letter-spacing: -0.05rem;
						}

						p {
							color: v.$gray-300;
							font-size: 1.8rem;
							font-weight: 400;
							line-height: 150%; /* 2.7rem */
						}
					}
				}
			}

			a {
				color: v.$brand-blue;
				font-family: 'Poppins', sans-serif;
				font-size: 1.6rem;
				font-weight: 500;
				line-height: 112%; /* 1.792rem */
				letter-spacing: -0.05rem;
				margin-top: 16px;
				transition: color 0.3s ease;
				position: relative;
				&:hover {
					color: v.$brand-yellow;
				}
				&::after {
					content: '';
					position: absolute;
					width: 1rem;
					bottom: 0px;
					border-bottom: 2px solid v.$brand-yellow;
					margin-left: 8px;
				}
			}
		}

		.neon-pejota {
			width: 100%;
			height: 410px;
			@include m.flex(row, center, space-between, 91px);
			background: url('../images/svg/background-section-card-pejota.svg') no-repeat center center;
			border-radius: 12px;
			padding: 0 59px;
			position: relative;

			@include m.resolucao(768px) {
				margin-top: 17px;
			}

			.neon-pejota--elementos {
				width: 100%;
				max-width: 327px;
				@include m.flex(column, flex-start, flex-start, 33px);

				.neon-pejota-elementos--textos {
					@include m.flex(column, flex-start, flex-start, 8px);

					h2,
					h3,
					p {
						color: v.$brand-white;
					}

					h2 {
						margin-bottom: 8px;
					}

					h3 {
						font-weight: 600;
					}

					p {
						line-height: 150%;
					}
				}

				.neon-pejota-elementos--cta {
					@include m.flex(row, center, flex-start, 16px);
				}
			}

			.neon-pejota-elementos--card {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: -31px;

				img {
					max-width: 341px;
				}

				@include m.resolucao(1090px) {
					right: -138px;
				}

				@include m.resolucao(768px) {
					right: -94px;
				}
			}

			.cirulo-section-pejota {
				position: absolute;
				top: 46px;
				right: -80px;
				z-index: 2;
			}
		}
	}
}

.s-depoimentos {
	padding-top: 134px;

	.top {
		margin-bottom: 40px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		h2 {
			color: v.$gray-600;
			font-weight: 700;

			span {
				display: block;
				font-size: 4rem;
				font-weight: 700;
				color: v.$gray-200;
			}
		}

		// responsive
		@include m.resolucao(768px) {
			flex-direction: column;
			align-items: center;
			gap: 16px;

			h2 {
				text-align: center;
				span {
					font-size: 3.2rem;
				}
			}
		}

		.swiper-pagination {
			position: relative;
			width: auto;

			.swiper-pagination-bullet {
				background-color: v.$brand-yellow;
				opacity: 0.3;
				width: 9px;
				height: 7px;
				border-radius: 12px;
				transition: all 0.3s ease;
				&:not(:first-child) {
					margin-left: 4px;
				}
				&-active {
					background-color: v.$brand-yellow;
					opacity: 1;
					width: 17px;
				}
			}
		}
	}

	.slide-depoimentos {
		overflow: hidden;
	}

	// responsive
	@include m.resolucao(768px) {
		padding: 6.9rem 0;
	}
}

.s-conta-digital {
	padding: 127px 0 85px;
	.container {
		@include m.flex(row, center, space-between, 0px);
	}

	.text {
		max-width: 542px;
		h2 {
			color: v.$gray-600;
			margin-bottom: 45px;
			span {
				display: block;
				color: rgba(198, 197, 206, 0.8);
				margin-bottom: 9px;
			}
		}

		ul {
			margin-bottom: 61px;
			li {
				display: flex;
				align-items: center;
				gap: 26px;

				&:not(:last-child) {
					margin-bottom: 45px;
				}

				.icon {
					width: 45px;
					height: 45px;
					background-color: v.$brand-green-light;
					border-radius: 8px;
					display: flex;
					justify-content: center;
					align-items: center;
				}

				.info {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 4px;
					h3 {
						font-size: 2rem;
						color: v.$gray-400;
					}
					p {
						color: v.$gray-300;
						font-size: 1.8rem;
					}
				}
			}
		}
	}

	.image {
		position: relative;
		width: 100%;
		max-width: 711.94px;
		height: 598.03px;
		margin-right: -38px;
		left: 125px;
		img {
			&:nth-child(1) {
				position: absolute;
				bottom: 47px;
				left: 6.51px;
			}
			&:nth-child(2) {
				position: absolute;
				top: 3.22px;
				left: 253.46px;
			}
			&:nth-child(3) {
				position: absolute;
				bottom: 0;
				right: 0;
			}
		}
	}

	// responsive
	@include m.resolucao(768px) {
		padding-top: 16px;

		.container {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 78px;

			.text {
				text-align: center;
			}

			.image {
				left: 0;
				max-width: 100%;
				margin: 0;

				img:nth-child(1) {
					position: absolute;					
					left: 104px;					
				}

				img:nth-child(2) {
					position: absolute;
					top: 3.22px;
					left: 344px;					
				}

				img:nth-child(3) {
					right: 50%;
					transform: translateX(50%);
					max-width: 582px;
				}
			}
		}
	}
}
